<h1><%= @sub.title %></h1>
<%= "Moderated by: #{@sub.moderator.username}" %>
<br>

<%= @sub.description %>
<br>

<ul>
<% @posts.each do |post| %>
  <li><a href="<%= sub_post_url(@sub, post) %>"><%= post.title %></a>
<% end %>
</ul>
<br>
<%= link_to "Add post", new_sub_post_url(@sub) %>
<br>
<%= link_to "Edit this sub", edit_sub_url(@sub) %>
<br>
<%= link_to "Delete", sub_url(@sub), method: :delete %>
<br>
<%= link_to "Subs Home", subs_url %>