<h1><%= @post.title %></h1>
Posted by <%= @post.author.username %>
<%= @post.url %>
<br>
<%= @post.content %>
<br>
<ul>
  <% @comments_by_parent_id[nil].each do |comment| %>
    <li><%= render partial: "comments/comment",
      locals: { comment: comment,
        comments_by_parent_id: @comments_by_parent_id } %></li>
    <% end %>
</ul>


<%= link_to "Comment", new_post_comment_url(@post) %>
<%= link_to "Edit post", edit_post_url(@post) %>
<%= link_to "Delete this post", post_url(@post), method: "delete" %>
<%= link_to "Back to Sub", subs_url %>